body.autre{
    background-image:url(img/pexels-fwstudio-129731.jpg);
    background-size: cover;
}
body#acceuil{
    background-image:url(img/background.jpg);
    background-size: cover;
}
/*menu*/
nav{
    background-color: grey;
    display: none;
    width: 100%;
    height: 10%;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    top:0px;
    left:0px;
    position: fixed; 
}
#menu-icon1{
    background-color: grey;
    display: flex;
    width: auto;
    height: 8%;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    top:0px;
    left:0px;
    padding: 0.5%;
    position: fixed;
}
#menu-icon1:hover{
    display: none;
    background-color: darkgray;
}
#menu-icon1:hover + nav{
    display: flex;
}
nav:hover{
    display: flex;
}
nav:hover ~ #menu-icon1{
    display: none;
    background-color: darkgray;
}
#menu-icon2{
    height: 80%;
    width: auto;
}
.bouton{
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    padding-right: 5%;
    padding-left: 5%;
}
a:link{
    text-decoration: none;
}
#contact{
    background-color: red;
}
.bouton:hover{
    background-color: blue;
}
#contact:hover{
    background-color:magenta;
}
/*acceuil*/
#center{
    height: 30em;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Cadre.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
/*retex*/
#retex-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3%;
    margin-top: 7%;
    margin-bottom: 7%;
    border-style: dotted;
    border-color: black;
    border-radius: 1em;
    padding: 0.4em;
}
#retex-content h1{
    align-self: center;

    border-radius:1em;
    padding: 0.1em;
    background-color: black;
    color: white;
}
.text-retex{
    width: 44%;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 1%;
    margin-right: 5%;
    margin-left: 5%;
}
#retex-content img{
    width: 30%;
    border-radius: 10%;
}
#retex-content img:hover{
    width: 45em;
    margin: 4%;
    border-radius: 10%;
}
.type1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type2{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}
#center-text p{
    width: 10em;
    word-wrap: none;
    padding: 5%;
    margin: 0;
    letter-spacing: 1px;
    color :rgb(230, 230, 230);
    font-size: x-large;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*parcours*/
.ligne_droite{
    display: flex;
    flex-direction: row;
}
.ligne_droite > img{
    margin-top: 5%;
    width: 40%;
    height: 90%;
}
.ligne_gauche{
    display: flex;
    flex-direction:row-reverse;
}
.ligne_gauche > img{
    width: 40%;
    height: 70%;
}
#Parcours-content{
    margin-top: 2%;
    height: 70%;
}
.school > img{
    height :60%;
    width: 70%;
}
.school_right{
    display: flex;
    flex-direction: column;
    margin-left: 90%;
    text-align: center;
}
.school_right > img{
    height :60%;
    width: 100%;
}
.school{
    width: 20%;
    height: 10%;
    text-align: center;
}

#pdf{
    display: flex;
    height: 5%;
    flex-direction: row-reverse;
    justify-content: end;
    margin-right: 1em;
}
#pdf img{
    height: 2em;
    width: 2em;
}